<div class="container">
  <div class="row d-flex justify-content-center pb-5">
    <%= form_tag(emails_path, method: :post, class: "form", remote: true) do %>
      <%= submit_tag 'Recevoir un email', :class => 'btn btn-danger'%>
    <% end %>
  </div>
  <div class="row d-flex justify-content-around">
    <div class="col-5 text-center" style="overflow:scroll; height: 31.25rem;">
      <table class="table" id="create-email">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Email object</th>
            <th scope="col">Yoyoyo</th>
          </tr>
        </thead>
        <% @emails.each do |email| %>
          <tbody id="<%=email.id%>">
            <tr>
              <th scope="row"><%=email.id%></th>
              <td><%=link_to "#{email.object}", email_path(email.id), remote: true%></td>
              <td id="id<%=email.id%>">
                <% if email.read == false%>
                  <i class="far fa-envelope fa-2x"></i>
                <%elsif email.read == true%>
                  <i class="far fa-envelope-open fa-2x"></i>
                <%end%>
              </td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
    <div class="col-5" id="email-show">
      <div class="row bg-dark text-white d-flex justify-content-center align-items-center p-2 mb-5">
        <b>Email sélectionné</b>
      </div>
    </div>
  </div>
